@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* This file is for your main application CSS */
html {
  font-family: "IBM Plex Mono", monospace;
}

[type="text"]:focus {
  outline-offset: 0px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  --tw-ring-color: transparent;
}

.ping-chillin-before::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.ping-chillin-before::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
  transition: transform 0.3s ease;
}

.ping-chillin::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
