@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html {
  font-family: "IBM Plex Mono", monospace;
}

[type="text"]:focus {
  outline-offset: 0px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(113 113 122);
  --tw-ring-color: transparent;
}

#puzzle {
  width: 100%;
  height: auto;
  animation: bg 2s ease-in;
  -webkit-animation: bg 2s ease-in;
  -moz-animation: bg 2s ease-in;
  -ms-animation: bg 2s ease-in;
  -o-animation: bg 2s ease-in;
}

@-webkit-keyframes bg {
  0% {
    background: rgba(255, 165, 0, 1);
  }
  20% {
    background: rgba(255, 165, 0, 0.8);
  }
  50% 70% {
    background: rgba(255, 165, 0, 0.5);
  }
  100% {
    background: rgba(255, 165, 0, 0);
  }
}

@-moz-keyframes bg {
  0% {
    background: rgba(255, 165, 0, 1) !important;
  }
  20% {
    background: rgba(255, 165, 0, 0.8) !important;
  }
  50% 70% {
    background: rgba(255, 165, 0, 0.5) !important;
  }
  100% {
    background: rgba(255, 165, 0, 0) !important;
  }
}

@-ms-keyframes bg {
  0% {
    background: rgba(255, 165, 0, 1);
  }
  20% {
    background: rgba(255, 165, 0, 0.8);
  }
  50% 70% {
    background: rgba(255, 165, 0, 0.5);
  }
  100% {
    background: rgba(255, 165, 0, 0);
  }
}

@-o-keyframes bg {
  0% {
    background: rgba(255, 165, 0, 1);
  }
  20% {
    background: rgba(255, 165, 0, 0.8);
  }
  50% 70% {
    background: rgba(255, 165, 0, 0.5);
  }
  100% {
    background: rgba(255, 165, 0, 0);
  }
}
